<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,160},{261,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,95}}</string>
                <key>sourceSize</key>
                <string>{261,95}</string>
            </dict>
            <key>itembag_heguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{327,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,562}}</string>
                <key>sourceSize</key>
                <string>{327,562}</string>
            </dict>
            <key>shopwaitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,427},{157,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,37}}</string>
                <key>sourceSize</key>
                <string>{157,37}</string>
            </dict>
            <key>sigin_itemnumblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,160},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>sigin_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,160},{461,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,433}}</string>
                <key>sourceSize</key>
                <string>{461,433}</string>
            </dict>
            <key>sigingetrewardtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,4},{597,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,150}}</string>
                <key>sourceSize</key>
                <string>{597,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>useritem.png</string>
            <key>size</key>
            <string>{938,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc72cff9c672b89d96541e7b3bb1f44b$</string>
            <key>textureFileName</key>
            <string>useritem.png</string>
        </dict>
    </dict>
</plist>
