<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oo58.game.texaspoker"
    android:installLocation="auto"
	
    android:versionCode="1122"
    android:versionName="1.1.22" >
	
    <uses-sdk android:minSdkVersion="11" />
	
    <uses-feature android:glEsVersion="0x00020000" />
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
		
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2dcpp" />
        <activity
            android:name="com.oo58.game.texaspoker.AppActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
					
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
				
                <data android:scheme="tencent100448250" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oo58.game.texaspoker.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.oo58.game.texaspoker.WEIXINLogin"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.oo58.game.texaspoker.wxapi.WXEntryActivity"
            android:exported="true"
      
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.oo58.game.texaspoker.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"/>
        <!-- 银联 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
             android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.oo58.game.texaspoker.UniPaying"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- 银联结束 -->
        <!-- 支付宝开始 -->
        <activity
            android:name="com.oo58.game.texaspoker.AliPaying"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
			android:name="com.alipay.sdk.auth.AuthActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:exported="false"
			android:screenOrientation="behind" >
		</activity>
        <!-- 支付宝结束 -->
    
    
    
    
    <!-- sina开始 -->
        
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        
        <!-- 手机短信注册页面 -->
        <activity android:name="com.sina.weibo.sdk.register.mobile.MobileRegisterActivity" 
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        
         <!-- 注册选择国家页面 -->
        <activity android:name="com.sina.weibo.sdk.register.mobile.SelectCountryActivity" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        
      <!-- 游戏入口  -->
        <activity android:name="com.sina.weibo.sdk.demo.WBGameActivity" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>
      
       <!-- sina结束 -->
      
      
      
      
      
      
      
      
      
      
       <!-- 信鸽推送 -->
      
              <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:theme="@android:style/Theme.Translucent"
            android:exported="false" >
            <intent-filter>
                 <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                
                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
            -->
        </receiver>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                 <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.oo58.game.texaspoker.PUSH_ACTION" />
            </intent-filter>
        </service>
        
        <!-- 已废弃，可删除之；若不删除也不会有任何副作用 -->
        <!--<service
            android:name="com.tencent.android.tpush.service.XGDaemonService"
            android:process=":qq_push_daemon" />
        -->
        <!-- 【可选】信鸽拉起其他APP应用，若应用在本地找不到可以自动下载 -->
        <!--
              <service
            android:name="com.tencent.android.tpush.XGDownloadService"
            android:enabled="true"
            android:exported="false" />
        -->
        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        


        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100176921" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AA74M27AW3VU" />
      
      
  			
        
        <!--  友推分享 
        
        <meta-data
            android:name="YOUTUI_CHANNEL"
            android:value="youtui-share-demo_yt" >
        </meta-data>
        
        <activity
            android:name="com.renn.rennsdk.oauth.OAuthActivity"
            android:configChanges="orientation|navigation|keyboardHidden" />
        
        <activity
            android:name="cn.bidaround.ytcore.activity.SinaShareActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="cn.bidaround.ytcore.login.AuthActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:screenOrientation="portrait"
            />
        
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask" />
        
        <activity
            android:name="cn.bidaround.point.PointActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="cn.bidaround.youtui_template.ScreenCapEditActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
         -->
        
        
    <!--  渠道  -->
  
    <meta-data android:value="hion" android:name="data_Name"></meta-data>
 
     <!-- 拍照 相册 -->
      <activity android:name="com.oo58.game.texaspoker.PhotoManagerActivity" 
            android:screenOrientation="portrait"
            android:configChanges="locale|keyboardHidden|orientation|screenSize">
        </activity>
    
     <!-- 友盟 -->
		<meta-data
		    android:name="UMENG_APPKEY"
		    android:value="5541d68667e58e060d000545" >
		</meta-data>
		<meta-data
		    android:name="UMENG_MESSAGE_SECRET"
		    android:value="d8deef221c5b03d665f4be4511cd4925" >
		</meta-data>
		
		<!-- 
				<meta-data
    		android:name="UMENG_CHANNEL"
    		android:value="default_ANDROID" >
		</meta-data>
		
		 -->
		<meta-data
    		android:name="UMENG_CHANNEL"
    		android:value="default_ANDROID" >
		</meta-data>
		 <!-- 友盟结束 -->
    </application>
	
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
	
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
	
	
    <!-- 銀聯權限 -->
	
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
	
    
    <!-- sina -->
        <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />   
    
    
    <!-- 信鸽 -->
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
     <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
     <!-- 友推 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用程序联网 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!-- 用于加载图片 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /><!-- 人人网需要权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /><!-- 人人网需要权限 -->
    
</manifest>