<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>liangpaiguangxiao0017.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>liangpaiguangxiao0016.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>liangpaiguangxiao0015.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>liangpaiguangxiao0014.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>liangpaiguangxiao0013.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0012.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0011.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0010.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>47</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0009.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>liangpaiguangxiao0008.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>liangpaiguangxiao0007.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0006.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0005.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0004.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>liangpaiguangxiao0003.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>45</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>liangpaiguangxiao0002.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>liangpaiguangxiao0001.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>2</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>8</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>langpai_wenzi.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>8</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>anitipshowcard0.png</string>
			<key>realTextureFileName</key>
			<string>anitipshowcard0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>