<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>christmas_hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1208},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>christmas_snow_desk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,4},{482,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,106}}</string>
                <key>sourceSize</key>
                <string>{482,106}</string>
            </dict>
            <key>christmas_snow_desk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1307},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>christmas_snow_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,844},{358,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,68}}</string>
                <key>sourceSize</key>
                <string>{358,68}</string>
            </dict>
            <key>christmas_snow_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,4},{310,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,100}}</string>
                <key>sourceSize</key>
                <string>{310,100}</string>
            </dict>
            <key>dt_cg.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,806},{268,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,100}}</string>
                <key>sourceSize</key>
                <string>{268,100}</string>
            </dict>
            <key>dt_denvlang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,568},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>dt_denvlang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,352},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>dt_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,4},{584,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,264}}</string>
                <key>sourceSize</key>
                <string>{584,264}</string>
            </dict>
            <key>dt_gz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,178},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>dt_gz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,4},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>dt_haoyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,806},{334,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,76}}</string>
                <key>sourceSize</key>
                <string>{334,76}</string>
            </dict>
            <key>dt_haoyou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1217},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_haoyou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1103},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_haoyoubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,844},{358,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,480}}</string>
                <key>sourceSize</key>
                <string>{358,480}</string>
            </dict>
            <key>dt_haoyoutouxiang_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,492},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dt_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1307},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>dt_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,320},{199,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,93}}</string>
                <key>sourceSize</key>
                <string>{199,93}</string>
            </dict>
            <key>dt_jiaru_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1217},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>dt_jiaru_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1096},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>dt_jiazu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1103},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_jiazu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,982},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_lebi.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1307},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dt_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1080},{173,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,63}}</string>
                <key>sourceSize</key>
                <string>{173,63}</string>
            </dict>
            <key>dt_moneynumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,568},{144,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,34}}</string>
                <key>sourceSize</key>
                <string>{144,34}</string>
            </dict>
            <key>dt_more_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,868},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_more_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,989},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_mtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,806},{268,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,100}}</string>
                <key>sourceSize</key>
                <string>{268,100}</string>
            </dict>
            <key>dt_navi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,844},{342,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,54}}</string>
                <key>sourceSize</key>
                <string>{342,54}</string>
            </dict>
            <key>dt_paim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,875},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_paim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,989},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_renw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,754},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_renw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,875},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,640},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,526},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_shangc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1149},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>dt_shangc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1149},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>dt_sng.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,700},{268,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,100}}</string>
                <key>sourceSize</key>
                <string>{268,100}</string>
            </dict>
            <key>dt_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,594},{268,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,100}}</string>
                <key>sourceSize</key>
                <string>{268,100}</string>
            </dict>
            <key>dt_userhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,753},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>dt_xiaoxi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,639},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>dt_xiaoxi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,525},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>matchmtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,424},{466,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,414}}</string>
                <key>sourceSize</key>
                <string>{466,414}</string>
            </dict>
            <key>matchsng.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{466,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,414}}</string>
                <key>sourceSize</key>
                <string>{466,414}</string>
            </dict>
            <key>sc_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,742},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,4},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhou1.png</string>
            <key>size</key>
            <string>{1023,1342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e218e2eda36a52b5ed9a234fd57852d3$</string>
            <key>textureFileName</key>
            <string>dezhou1.png</string>
        </dict>
    </dict>
</plist>
