<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dt_client_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,931},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>2dt_client_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,931},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>2dt_navi-left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,726},{164,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{164,44}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>2dt_navi-left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,251},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,46}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>2dt_navi-middle_1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,349},{164,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{164,44}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>2dt_navi-middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,301},{164,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{164,44}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>2dt_navi-middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,201},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,46}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>2dt_navi-right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,151},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,46}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>2dt_navi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,397},{502,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,58}}</string>
                <key>sourceSize</key>
                <string>{502,58}</string>
            </dict>
            <key>2dt_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,931},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>2dt_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,931},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>2dt_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,383},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>2dt_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,931},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,62}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>2dt_zhuangshi-pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,397},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{138,144}}</string>
                <key>sourceSize</key>
                <string>{142,148}</string>
            </dict>
            <key>mtt_bisaitype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,726},{200,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{200,42}}</string>
                <key>sourceSize</key>
                <string>{202,46}</string>
            </dict>
            <key>mtt_bisaitype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,726},{198,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{198,40}}</string>
                <key>sourceSize</key>
                <string>{202,46}</string>
            </dict>
            <key>mtt_bmfybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,457},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>mtt_buttonnp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,337},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,42}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>mtt_buttonnp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,291},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,42}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>mtt_buttonnp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,245},{128,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{128,42}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>mtt_buttonpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,199},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,42}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>mtt_buttonpp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,153},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,42}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>mtt_buttonpp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{128,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{128,42}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>mtt_datingzhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,931},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>mtt_kaisaitime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,726},{163,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{163,42}}</string>
                <key>sourceSize</key>
                <string>{165,44}</string>
            </dict>
            <key>mtt_kaisaitime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,107},{161,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{161,40}}</string>
                <key>sourceSize</key>
                <string>{165,44}</string>
            </dict>
            <key>mtt_table_title-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{300,100}}</string>
                <key>sourceSize</key>
                <string>{302,102}</string>
            </dict>
            <key>mtt_typebutton2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,997},{3,3}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>sng_hall_background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,3},{924,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{924,40}}</string>
                <key>sourceSize</key>
                <string>{928,44}</string>
            </dict>
            <key>sng_hall_background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,545},{233,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{233,177}}</string>
                <key>sourceSize</key>
                <string>{237,181}</string>
            </dict>
            <key>sng_hall_goldCoin-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,491},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,29}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>sng_hall_icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,397},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,56}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>sng_hall_icon-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,726},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>sng_hall_icon-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,445},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>sng_hall_icon-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,505},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,58}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,997},{3,3}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamemtt.png</string>
            <key>size</key>
            <string>{350,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef2dba8727b5fcbf87f3fa26db638727$</string>
            <key>textureFileName</key>
            <string>gamemtt.png</string>
        </dict>
    </dict>
</plist>
