<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>family_content-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,510},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>family_introduce table1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,4},{663,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{663,40}}</string>
                <key>sourceSize</key>
                <string>{665,42}</string>
            </dict>
            <key>family_introduce table2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,4},{663,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{663,40}}</string>
                <key>sourceSize</key>
                <string>{665,42}</string>
            </dict>
            <key>family_introduce table3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{663,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{663,40}}</string>
                <key>sourceSize</key>
                <string>{665,42}</string>
            </dict>
            <key>family_introduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,451},{300,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{300,93}}</string>
                <key>sourceSize</key>
                <string>{302,95}</string>
            </dict>
            <key>family_tips-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,4},{428,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{428,68}}</string>
                <key>sourceSize</key>
                <string>{430,70}</string>
            </dict>
            <key>familyedit.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,180},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>gamefamily.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,616},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gf_btok_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,380},{230,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{230,68}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>gf_btok_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,144},{230,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{230,68}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>gf_btok_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,144},{230,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{230,68}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>gf_family_admin1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,117},{107,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,36}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>gf_family_admin1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,4},{107,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,36}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>gf_family_admin2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,673},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,32}}</string>
                <key>sourceSize</key>
                <string>{91,34}</string>
            </dict>
            <key>gf_family_admin2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,673},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,32}}</string>
                <key>sourceSize</key>
                <string>{91,34}</string>
            </dict>
            <key>gf_family_adminbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,4},{340,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{340,134}}</string>
                <key>sourceSize</key>
                <string>{342,136}</string>
            </dict>
            <key>gf_family_button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,306},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>gf_family_button_serach.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,268},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>gf_family_button_serachs.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,230},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>gf_family_creat-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,4},{442,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{442,74}}</string>
                <key>sourceSize</key>
                <string>{444,76}</string>
            </dict>
            <key>gf_family_edit-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,230},{189,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,44}}</string>
                <key>sourceSize</key>
                <string>{191,46}</string>
            </dict>
            <key>gf_family_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,4},{455,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{455,66}}</string>
                <key>sourceSize</key>
                <string>{457,68}</string>
            </dict>
            <key>gf_family_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,719},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,42}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>gf_family_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,4},{484,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{484,114}}</string>
                <key>sourceSize</key>
                <string>{486,116}</string>
            </dict>
            <key>gf_family_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,218},{214,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{214,214}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>gf_family_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,664},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gf_family_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,488},{262,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{262,106}}</string>
                <key>sourceSize</key>
                <string>{264,108}</string>
            </dict>
            <key>gf_family_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,494},{262,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{262,106}}</string>
                <key>sourceSize</key>
                <string>{264,108}</string>
            </dict>
            <key>gf_family_levelbgB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,562},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>gf_family_levelbgB_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,460},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>gf_family_levelbgB_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,358},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>gf_family_levelbgB_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,494},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>gf_family_levelbg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,700},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>gf_family_levelbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,700},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>gf_family_levelbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,701},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>gf_family_levelbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,670},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>gf_family_levelbg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,701},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>gf_family_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,4},{441,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{441,75}}</string>
                <key>sourceSize</key>
                <string>{443,77}</string>
            </dict>
            <key>gf_family_no-admin.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,673},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gf_family_no-people-.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,4},{454,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{454,55}}</string>
                <key>sourceSize</key>
                <string>{456,57}</string>
            </dict>
            <key>gf_family_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,464},{106,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,17}}</string>
                <key>sourceSize</key>
                <string>{108,19}</string>
            </dict>
            <key>gf_family_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,465},{106,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,17}}</string>
                <key>sourceSize</key>
                <string>{108,19}</string>
            </dict>
            <key>gf_family_shuom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,628},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gf_family_shuom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,596},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gf_family_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,144},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>gf_family_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,438},{257,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{257,95}}</string>
                <key>sourceSize</key>
                <string>{259,97}</string>
            </dict>
            <key>gf_nav_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,510},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,64}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>gf_nav_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,438},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,66}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>gf_paim_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,654},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>gf_yellow-button2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,603},{110,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{110,80}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>gf_yellow-button2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,487},{110,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{110,80}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,762},{1,1}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamefamily.png</string>
            <key>size</key>
            <string>{1016,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcab567c90cae9e2f1b33472d80db870$</string>
            <key>textureFileName</key>
            <string>gamefamily.png</string>
        </dict>
    </dict>
</plist>
