<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dt_3_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1138,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,70}}</string>
                <key>sourceSize</key>
                <string>{1138,70}</string>
            </dict>
            <key>2dt_3_tab-new.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,98},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>2dt_3_vip-diy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,261},{184,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,186}}</string>
                <key>sourceSize</key>
                <string>{184,186}</string>
            </dict>
            <key>2dt_3_vip-diy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,201},{183,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,186}}</string>
                <key>sourceSize</key>
                <string>{183,186}</string>
            </dict>
            <key>2dt_3_vip-room-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,355},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>2dt_3_vip-room-type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,420},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>2dt_3_vip-room-type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,420},{116,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,61}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>2dt_3_vip-room-type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,411},{120,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,61}}</string>
                <key>sourceSize</key>
                <string>{120,61}</string>
            </dict>
            <key>2dt_3_vip-room-type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,391},{120,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,61}}</string>
                <key>sourceSize</key>
                <string>{120,61}</string>
            </dict>
            <key>2dt_3_vip-room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,278},{184,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,186}}</string>
                <key>sourceSize</key>
                <string>{184,186}</string>
            </dict>
            <key>2dt_3_vip-room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,295},{184,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,186}}</string>
                <key>sourceSize</key>
                <string>{184,186}</string>
            </dict>
            <key>2dt_3_vip-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,355},{260,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,81}}</string>
                <key>sourceSize</key>
                <string>{260,81}</string>
            </dict>
            <key>2dt_big-chouma_1-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,295},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,261},{167,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,49}}</string>
                <key>sourceSize</key>
                <string>{167,49}</string>
            </dict>
            <key>2dt_big-chouma_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,295},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,4},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,64},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,64},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,64},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,80},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,98},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,98},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,98},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,158},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_big-chouma_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,158},{192,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{192,191}</string>
            </dict>
            <key>2dt_blind-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,442},{202,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,38}}</string>
                <key>sourceSize</key>
                <string>{202,38}</string>
            </dict>
            <key>2dt_client_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,390},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>2dt_client_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,333},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>2dt_navi-left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,458},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>2dt_navi-left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,451},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>2dt_navi-middle_1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,368},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>2dt_navi-middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,316},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>2dt_navi-middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,174},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>2dt_navi-right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,4},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>2dt_navi_bg-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,98},{336,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,54}}</string>
                <key>sourceSize</key>
                <string>{336,54}</string>
            </dict>
            <key>2dt_navi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,4},{498,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,54}}</string>
                <key>sourceSize</key>
                <string>{498,54}</string>
            </dict>
            <key>2dt_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,4},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>2dt_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,390},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>2dt_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,261},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>2dt_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,390},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>2dt_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,405},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>2dt_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,36},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>2dt_vip-room-tab-people.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,4},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>2dt_vip-room-tab-pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,486},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>2dt_zhuangshi-pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,261},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,261},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>zdt_3_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,80},{964,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,12}}</string>
                <key>sourceSize</key>
                <string>{964,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamehall.png</string>
            <key>size</key>
            <string>{2033,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a512aea1dd8e247ec4f06abf5b0d6554$</string>
            <key>textureFileName</key>
            <string>gamehall.png</string>
        </dict>
    </dict>
</plist>
