<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,714},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,650},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>close3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,790},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>menubtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,578},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>menubtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,578},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>sc_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,792},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>sc_diamondbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,720},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sc_diamondbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,650},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sc_diamondkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,650},{136,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,38}}</string>
                <key>sourceSize</key>
                <string>{136,38}</string>
            </dict>
            <key>shop_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1054},{40,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>shop_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,770},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>shop_bgwenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{568,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,550}}</string>
                <key>sourceSize</key>
                <string>{568,550}</string>
            </dict>
            <key>shop_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,578},{280,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,170}}</string>
                <key>sourceSize</key>
                <string>{280,170}</string>
            </dict>
            <key>shop_shelves.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,4},{1044,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1044,31}}</string>
                <key>sourceSize</key>
                <string>{1044,31}</string>
            </dict>
            <key>shop_shodow.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,778},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>shop_tipbut.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1100},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,864},{413,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,96}}</string>
                <key>sourceSize</key>
                <string>{413,96}</string>
            </dict>
            <key>shop_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,4},{1136,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,96}}</string>
                <key>sourceSize</key>
                <string>{1136,96}</string>
            </dict>
            <key>shop_txyxq_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,770},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1135},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamemall.png</string>
            <key>size</key>
            <string>{697,1144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bb069e1af5045e0d397690e52704ae$</string>
            <key>textureFileName</key>
            <string>gamemall.png</string>
        </dict>
    </dict>
</plist>
