<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1220},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,781},{86,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{86,80}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1219},{90,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1220},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1147},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1094},{50,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1022},{50,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,950},{50,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,865},{90,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,413},{90,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,223},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{82,76}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>club_addmemberbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1147},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,31}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>club_editavatarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,223},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,44}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>club_editbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1182},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,33}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>club_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>club_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,271},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,106}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
            <key>club_nomember.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,492},{454,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{454,55}}</string>
                <key>sourceSize</key>
                <string>{458,59}</string>
            </dict>
            <key>club_ownericon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,599},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>club_searchbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1182},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,31}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>club_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,381},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,58}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>club_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,959},{257,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{257,92}}</string>
                <key>sourceSize</key>
                <string>{261,96}</string>
            </dict>
            <key>club_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1220},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>clubavatar_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,795},{348,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{348,98}}</string>
                <key>sourceSize</key>
                <string>{352,102}</string>
            </dict>
            <key>clubinfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,443},{348,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{348,98}}</string>
                <key>sourceSize</key>
                <string>{352,102}</string>
            </dict>
            <key>dt_lebi.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,3},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,27}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>family_admin1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,381},{107,36}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,71},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>iconclipmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,691},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>iconround.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,507},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>nav_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,359},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,50}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>nav_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,303},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,34},{1,1}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameclub.png</string>
            <key>size</key>
            <string>{255,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9b731ae977126ee61d3577baf3e4e94$</string>
            <key>textureFileName</key>
            <string>gameclub.png</string>
        </dict>
    </dict>
</plist>
