<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dt_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,806},{60,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>2dt_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,147},{66,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1443},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>mtt_pj_addon.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,464},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{154,48}}</string>
                <key>sourceSize</key>
                <string>{162,56}</string>
            </dict>
            <key>mtt_pj_addon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,464},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{154,48}}</string>
                <key>sourceSize</key>
                <string>{162,56}</string>
            </dict>
            <key>mtt_pj_rebuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1541},{154,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{154,48}}</string>
                <key>sourceSize</key>
                <string>{162,56}</string>
            </dict>
            <key>mtt_pj_rebuy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1489},{154,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{154,48}}</string>
                <key>sourceSize</key>
                <string>{162,56}</string>
            </dict>
            <key>mtt_pj_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,245},{215,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{215,54}}</string>
                <key>sourceSize</key>
                <string>{223,62}</string>
            </dict>
            <key>mtt_pj_timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1877},{394,142}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{394,142}}</string>
                <key>sourceSize</key>
                <string>{406,150}</string>
            </dict>
            <key>pj_all-in.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1859},{169,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,54}}</string>
                <key>sourceSize</key>
                <string>{171,56}</string>
            </dict>
            <key>pj_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,672},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{66,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>pj_baoxiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,445},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{66,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>pj_bianchibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1859},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,30}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>pj_button-caozuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,622},{50,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_button-caozuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,710},{50,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_button-caozuo_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,516},{50,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_button-dichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,75},{52,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>pj_button-dichi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,3},{52,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>pj_button-dichi_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,405},{52,68}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{52,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>pj_button-yucaozuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1121},{230,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{230,68}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>pj_button-yucaozuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1121},{230,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{230,68}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>pj_chouma-big.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1753},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>pj_chouma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,311},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>pj_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,3},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pj_dashang.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,321},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>pj_dashang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,245},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>pj_goumai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,672},{64,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{64,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_goumai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,245},{68,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_jiangchi-number.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1121},{204,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{204,21}}</string>
                <key>sourceSize</key>
                <string>{206,23}</string>
            </dict>
            <key>pj_jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1349},{224,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{224,37}}</string>
                <key>sourceSize</key>
                <string>{226,39}</string>
            </dict>
            <key>pj_jiangchi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1121},{224,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{224,37}}</string>
                <key>sourceSize</key>
                <string>{226,39}</string>
            </dict>
            <key>pj_jiangchi_huangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2023},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pj_jiangchi_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,3},{238,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{238,204}}</string>
                <key>sourceSize</key>
                <string>{240,206}</string>
            </dict>
            <key>pj_jiangchi_tonghuashun.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2023},{20,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,19}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>pj_jiazhu-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1137},{177,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{177,460}}</string>
                <key>sourceSize</key>
                <string>{179,462}</string>
            </dict>
            <key>pj_jiazhu-btn-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,245},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,59}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>pj_jiazhu-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,622},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,59}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>pj_jiazhu-tiao-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1121},{22,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,352}}</string>
                <key>sourceSize</key>
                <string>{24,354}</string>
            </dict>
            <key>pj_jiazhu-tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1121},{36,364}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,364}}</string>
                <key>sourceSize</key>
                <string>{38,366}</string>
            </dict>
            <key>pj_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,764},{60,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_liaotian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,333},{64,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,870},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,870},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_px_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1691},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,28}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>pj_red-button-.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,620},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_red-button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,748},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_red-button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,676},{48,68}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{48,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_scroll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1121},{566,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{566,32}}</string>
                <key>sourceSize</key>
                <string>{570,34}</string>
            </dict>
            <key>pj_userheadbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1691},{112,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,164}}</string>
                <key>sourceSize</key>
                <string>{114,166}</string>
            </dict>
            <key>pj_usertype_unkonwn.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1979},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,29}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>pj_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,900},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pj_xiazhubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1355},{112,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,26}}</string>
                <key>sourceSize</key>
                <string>{114,28}</string>
            </dict>
            <key>pj_xinshourenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,868},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{56,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_xinshourenwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,738},{64,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,834},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{62,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_yaoqing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,516},{66,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_yellow-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,568},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_yellow-button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,516},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_yellow_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,570},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,68}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>pj_yuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,401},{56,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{56,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pj_yuyin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,311},{58,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>rease_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,3},{940,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{940,96}}</string>
                <key>sourceSize</key>
                <string>{942,98}</string>
            </dict>
            <key>sliderraisebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2023},{352,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{352,22}}</string>
                <key>sourceSize</key>
                <string>{354,24}</string>
            </dict>
            <key>sliderraiseprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1081},{364,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{364,36}}</string>
                <key>sourceSize</key>
                <string>{366,38}</string>
            </dict>
            <key>sliderraisethumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1355},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,84}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>smpj_addbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,947},{246,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,130}}</string>
                <key>sourceSize</key>
                <string>{246,130}</string>
            </dict>
            <key>smpj_addfriends1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,800},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>smpj_addfriends2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,383},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>smpj_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,932},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{58,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>smpj_share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,586},{62,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>sng_hall_icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1798},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sng_hall_icon-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1355},{228,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{228,69}}</string>
                <key>sourceSize</key>
                <string>{230,71}</string>
            </dict>
            <key>sngautobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1130,108}}</string>
                <key>sourceSize</key>
                <string>{1132,110}</string>
            </dict>
            <key>snggirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1601},{272,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{272,346}}</string>
                <key>sourceSize</key>
                <string>{274,348}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1859},{1,1}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>userhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1587},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gametable.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6163bdcc339d620d383e182c962e48e6$</string>
            <key>textureFileName</key>
            <string>gametable.png</string>
        </dict>
    </dict>
</plist>
