<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dt_client_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,126},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>2dt_client_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,399},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>2dt_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,194},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>2dt_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,379},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>2dt_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,370},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>2dt_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,4},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>family_content-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,130},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>family_introduce table1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,101},{665,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,42}}</string>
                <key>sourceSize</key>
                <string>{665,42}</string>
            </dict>
            <key>gf_btok_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,130},{234,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,74}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>gf_btok_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,159},{234,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,74}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>gf_btok_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,50},{234,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,74}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>gf_nav_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,350},{188,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,68}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>gf_nav_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,276},{188,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,68}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>sng_hall_background-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{924,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{924,40}}</string>
                <key>sourceSize</key>
                <string>{924,40}</string>
            </dict>
            <key>sng_hall_background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,319},{233,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{233,177}</string>
            </dict>
            <key>sng_hall_background-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,107},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sng_hall_cupIcon-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,72},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>sng_hall_cupIcon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,478},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>sng_hall_cupIcon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,478},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>sng_hall_goldCoin-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,361},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>sng_hall_goldCoin-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,324},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>sng_hall_icon-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,139},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sng_hall_icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,472},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sng_hall_icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,262},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>sng_hall_icon-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,319},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sng_hall_icon-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,434},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>sng_hall_icon-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,434},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>sng_hall_icon-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,469},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>sng_hall_ticket-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,453},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>sng_hall_ticket-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,478},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>sng_table_background-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,159},{306,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,154}}</string>
                <key>sourceSize</key>
                <string>{306,154}</string>
            </dict>
            <key>sng_table_background-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,424},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>sng_table_background-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,50},{673,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,45}}</string>
                <key>sourceSize</key>
                <string>{673,45}</string>
            </dict>
            <key>sng_table_background-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,149},{660,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,4}}</string>
                <key>sourceSize</key>
                <string>{660,4}</string>
            </dict>
            <key>sng_table_cupIcon-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,424},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>sng_table_cupIcon-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,424},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>sng_table_cupIcon-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,72},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>sng_table_icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,466},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sng_table_icon-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,432},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sng_table_icon-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,398},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sng_table_title-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,379},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>sng_table_title-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,273},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>sng_table_title-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,159},{300,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,108}}</string>
                <key>sourceSize</key>
                <string>{300,108}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,399},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamesng.png</string>
            <key>size</key>
            <string>{1024,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3267499c8d7744af430057ade68937c4$</string>
            <key>textureFileName</key>
            <string>gamesng.png</string>
        </dict>
    </dict>
</plist>
