<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,637},{164,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,48}}</string>
                <key>sourceSize</key>
                <string>{164,48}</string>
            </dict>
            <key>login_blue-button-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,699},{217,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,80}}</string>
                <key>sourceSize</key>
                <string>{217,80}</string>
            </dict>
            <key>login_blue-button-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,613},{217,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,80}}</string>
                <key>sourceSize</key>
                <string>{217,80}</string>
            </dict>
            <key>login_blue-button-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,527},{219,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,80}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>login_blue-button-right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,441},{219,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,80}}</string>
                <key>sourceSize</key>
                <string>{219,80}</string>
            </dict>
            <key>login_blue-button.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,323},{250,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,67}}</string>
                <key>sourceSize</key>
                <string>{250,67}</string>
            </dict>
            <key>login_blue-button2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,250},{250,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,67}}</string>
                <key>sourceSize</key>
                <string>{250,67}</string>
            </dict>
            <key>login_correct.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,807},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>login_fanhui-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,580},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>login_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,523},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>login_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,396},{236,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,39}}</string>
                <key>sourceSize</key>
                <string>{236,39}</string>
            </dict>
            <key>login_green-button.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,177},{250,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,67}}</string>
                <key>sourceSize</key>
                <string>{250,67}</string>
            </dict>
            <key>login_green-button2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,104},{250,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,67}}</string>
                <key>sourceSize</key>
                <string>{250,67}</string>
            </dict>
            <key>login_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,104},{214,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,34}}</string>
                <key>sourceSize</key>
                <string>{214,34}</string>
            </dict>
            <key>login_ljdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,967},{122,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,34}}</string>
                <key>sourceSize</key>
                <string>{122,34}</string>
            </dict>
            <key>login_login-bg.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,455},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>login_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{260,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,94}}</string>
                <key>sourceSize</key>
                <string>{260,94}</string>
            </dict>
            <key>login_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,844},{148,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,28}}</string>
                <key>sourceSize</key>
                <string>{148,28}</string>
            </dict>
            <key>login_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,893},{150,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,48}}</string>
                <key>sourceSize</key>
                <string>{150,48}</string>
            </dict>
            <key>login_querenxiugai-.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,324},{125,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{125,34}</string>
            </dict>
            <key>login_register-bg.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,785},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>login_select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,975},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>login_text-container.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,947},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>login_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,807},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>login_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,807},{154,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,42}}</string>
                <key>sourceSize</key>
                <string>{154,42}</string>
            </dict>
            <key>login_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,975},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_ui.png</string>
            <key>size</key>
            <string>{298,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff5db949d938df4a82fe64fa6ac2a4f$</string>
            <key>textureFileName</key>
            <string>login_ui.png</string>
        </dict>
    </dict>
</plist>
