<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dt_client_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,863},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>2dt_client_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,421},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>2dt_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,933},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2dt_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,353},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,64}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>2dt_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,925},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>2dt_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,797},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>club_fundtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,381},{348,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,96}}</string>
                <key>sourceSize</key>
                <string>{348,96}</string>
            </dict>
            <key>dt_lebi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,141},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>family_content-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,797},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>fund_typeclub.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,109},{28,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fund_typepersonal.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,77},{28,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nav_c_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,863},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>nav_c_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,807},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>nav_c_middle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,751},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>nav_c_middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,695},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>nav_c_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,639},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>nav_c_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,583},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>nav_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,939},{82,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,50}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>nav_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,845},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>nav_middle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,939},{82,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,50}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>nav_middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,967},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>nav_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,939},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,50}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>nav_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,571},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>personal_fundtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,281},{348,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,96}}</string>
                <key>sourceSize</key>
                <string>{348,96}</string>
            </dict>
            <key>segregate.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{960,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,8}}</string>
                <key>sourceSize</key>
                <string>{960,8}</string>
            </dict>
            <key>slidersetjettonbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,473},{466,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,14}}</string>
                <key>sourceSize</key>
                <string>{466,14}</string>
            </dict>
            <key>slidersetjettonprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,3},{466,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,14}}</string>
                <key>sourceSize</key>
                <string>{466,14}</string>
            </dict>
            <key>slidersetjettonthumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,845},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>sm_clubfoundation.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,627},{107,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>sm_creatbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,487},{93,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{93,92}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>sm_idarea.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,3},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{380,70}}</string>
                <key>sourceSize</key>
                <string>{382,72}</string>
            </dict>
            <key>sm_makeroom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,301},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>sm_makeroom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,249},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>sm_makeroom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,197},{48,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>sm_myfoundation.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,738},{103,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,92}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>sm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,481},{328,86}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{328,86}}</string>
                <key>sourceSize</key>
                <string>{334,92}</string>
            </dict>
            <key>smpj_infortitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,571},{239,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,43}}</string>
                <key>sourceSize</key>
                <string>{239,43}</string>
            </dict>
            <key>smrules_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,180},{348,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{348,97}}</string>
                <key>sourceSize</key>
                <string>{352,101}</string>
            </dict>
            <key>smsetting_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,3},{190,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{190,44}}</string>
                <key>sourceSize</key>
                <string>{194,48}</string>
            </dict>
            <key>smsetting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,77},{348,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{348,99}}</string>
                <key>sourceSize</key>
                <string>{352,101}</string>
            </dict>
            <key>sng_hall_background-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,618},{231,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{231,175}}</string>
                <key>sourceSize</key>
                <string>{233,177}</string>
            </dict>
            <key>sng_hall_icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,921},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sng_hall_icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,967},{28,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,54}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>sng_hall_icon-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,861},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,56}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,943},{1,1}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PrivateRoom.png</string>
            <key>size</key>
            <string>{469,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a7495be6c6d63f6dd3be8577b90286$</string>
            <key>textureFileName</key>
            <string>PrivateRoom.png</string>
        </dict>
    </dict>
</plist>
